<div id="<%= dom_id maintenance %>">
  <p>
    <strong>Type:</strong>
    <%= maintenance.type %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= maintenance.fecha %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= maintenance.email %>
  </p>

  <p>
    <strong>Users:</strong>
    <%= maintenance.users_id %>
  </p>

  <p>
    <strong>Cities:</strong>
    <%= maintenance.cities_id %>
  </p>

  <p>
    <strong>Materials:</strong>
    <%= maintenance.materials_id %>
  </p>

</div>
