<div id="<%= dom_id motor %>">
  <p>
    <strong>Type:</strong>
    <%= motor.type %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= motor.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= motor.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= motor.image %>
  </p>

</div>
